In [1]:
data = {
    "메뉴": ["아메리카노", "카페라떼", "카페모카", "바닐라라떼", "녹차", "초코라떼", "바닐라콜드브루"],
    "가격": [4100, 4600, 4600, 5100, 4100, 5000, 5100],
    "할인율": [0.5, 0.1, 0.2, 0.3, 0, 0, 0],
    "칼로리": [10, 180, 420, 320, 20, 500, 400]
}

In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(data)
df

        메뉴    가격  할인율  칼로리
0    아메리카노  4100  0.5   10
1     카페라떼  4600  0.1  180
2     카페모카  4600  0.2  420
3    바닐라라떼  5100  0.3  320
4       녹차  4100  0.0   20
5     초코라떼  5000  0.0  500
6  바닐라콜드브루  5100  0.0  400

In [8]:
df.head(3)

      메뉴    가격  할인율  칼로리
0  아메리카노  4100  0.5   10
1   카페라떼  4600  0.1  180
2   카페모카  4600  0.2  420

In [28]:
df.loc[:]["가격"]

0    4100
1    4600
2    4600
3    5100
4    4100
5    5000
6    5100
Name: 가격, dtype: int64

In [29]:
df.loc[: , "가격"]

0    4100
1    4600
2    4600
3    5100
4    4100
5    5000
6    5100
Name: 가격, dtype: int64

In [31]:
df.iloc[:, 1]

0    4100
1    4600
2    4600
3    5100
4    4100
5    5000
6    5100
Name: 가격, dtype: int64

In [32]:
df.loc[2]

메뉴     카페모카
가격     4600
할인율     0.2
칼로리     420
Name: 2, dtype: object

In [33]:
df.loc[2, "칼로리"]

np.int64(420)

In [34]:
df.iloc[2, 3]

np.int64(420)

In [35]:
df.sort_values("가격", ascending=True)

        메뉴    가격  할인율  칼로리
0    아메리카노  4100  0.5   10
4       녹차  4100  0.0   20
2     카페모카  4600  0.2  420
1     카페라떼  4600  0.1  180
5     초코라떼  5000  0.0  500
3    바닐라라떼  5100  0.3  320
6  바닐라콜드브루  5100  0.0  400

In [36]:
df.sort_values(["가격", "메뉴"], ascending=[True, False])

        메뉴    가격  할인율  칼로리
0    아메리카노  4100  0.5   10
4       녹차  4100  0.0   20
2     카페모카  4600  0.2  420
1     카페라떼  4600  0.1  180
5     초코라떼  5000  0.0  500
6  바닐라콜드브루  5100  0.0  400
3    바닐라라떼  5100  0.3  320

In [38]:
df.describe()

                가격       할인율         칼로리
count     7.000000  7.000000    7.000000
mean   4657.142857  0.157143  264.285714
std     435.343324  0.190238  196.965068
min    4100.000000  0.000000   10.000000
25%    4350.000000  0.000000  100.000000
50%    4600.000000  0.100000  320.000000
75%    5050.000000  0.250000  410.000000
max    5100.000000  0.500000  500.000000

In [43]:
df["가격"].quantile(q=0.75)

np.float64(4350.0)

In [44]:
df["가격"].mean()

np.float64(4657.142857142857)

In [45]:
df["가격"].max()

np.int64(5100)

In [46]:
df["가격"].median()

np.float64(4600.0)

In [48]:
df["칼로리"].rank(ascending=False)

0    7.0
1    5.0
2    2.0
3    4.0
4    6.0
5    1.0
6    3.0
Name: 칼로리, dtype: float64