In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\as4761285 001\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\as4761285 001\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\as4761285 001\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 2.2 MB/s eta 0:00:06
   - -------------------------------------- 0.5/11.5 MB 6.6 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/11.5 MB 9.3 MB/s eta 0:00:02
   ------ --------------------------------- 2.0/11.5 MB 10.4 MB/s eta 0:00:01
   ---------- ----------------------------- 3.0/11.5 MB 12.8 MB/s eta 0:00:01
   ------------- -------------------------- 4.0/11.5 MB 14.2 MB/s eta 0:00:01
   ------------------- -------------------- 5.5/11.5 MB 17.5 MB/s eta 0:00:01
   ------------------------- -------------- 7.4/11.5 MB 19.7 MB/s eta 0:00:01
   --------------------------------- ------ 9.5/11.5 MB 23.4 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 34.4 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 34.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 28.5 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   ---------------------------------------- 505.5/505.5 kB ? eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ---------------------------------------- 345.4/345.4 kB ? eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [3]:
obj = ["이유리", "최민준", "김민지 "]

series_1 = pd.Series(obj)
print(series_1)
print(type(series_1))

0     이유리
1     최민준
2    김민지
dtype: object
<class 'pandas.core.series.Series'>

In [5]:
idx = ["A", "B", "C"]
series_2 = pd.Series(obj, index=idx)
print(series_2)

A     이유리
B     최민준
C    김민지
dtype: object

In [6]:
obj = {
    "A": "이유리",
    "B": "최민준",
    "C": "김민지"
}

series_3 = pd.Series(obj)
print(series_3)

A    이유리
B    최민준
C    김민지
dtype: object

In [9]:
print(series_1.values)

['이유리' '최민준' '김민지 ']

In [10]:
print(series_1.index)

RangeIndex(start=0, stop=3, step=1)

In [11]:
print(series_1.dtypes)

object

In [12]:
print(series_1.size)

3

In [13]:
print(series_1.index)
series_1.index = ["A", "B", "C"] #인덱스 변경
print(series_1)

RangeIndex(start=0, stop=3, step=1)
A     이유리
B     최민준
C    김민지
dtype: object

In [15]:
obj = [22, 32, 27, 18, 38, 19]
idx = list("abcdef")
print(idx)

sr = pd.Series(obj, index = idx)
print(sr)

['a', 'b', 'c', 'd', 'e', 'f']
a    22
b    32
c    27
d    18
e    38
f    19
dtype: int64

In [16]:
print(sr[4])

38

C:\Users\as4761285 001\AppData\Local\Temp\ipykernel_2584\3103587714.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[4])

In [18]:
print(sr["e"])

38

In [19]:
print(sr[1:4])

b    32
c    27
d    18
dtype: int64

In [22]:
print(sr["b":"d"]) #숫자 인덱싱과의 구성차이 b ~ d

b    32
c    27
d    18
dtype: int64

In [23]:
idx = [0, 3, 4]
print(sr[idx])

a    22
d    18
e    38
dtype: int64

C:\Users\as4761285 001\AppData\Local\Temp\ipykernel_2584\826197551.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[idx])

In [26]:
print(sr[["b", "d", "f"]])

b    32
d    18
f    19
dtype: int64

In [29]:
#통계

sr_1 = pd.Series(range(100))
print(sr_1)

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [32]:
sr_1.describe()

count    100.000000
mean      49.500000
std       29.011492
min        0.000000
25%       24.750000
50%       49.500000
75%       74.250000
max       99.000000
dtype: float64

In [33]:
sr_1.count()

np.int64(100)

In [34]:
sr_1.mean()

np.float64(49.5)

In [35]:
#분산
sr_1.var()

np.float64(841.6666666666666)

In [36]:
#표준편차
sr_1.std()

np.float64(29.011491975882016)

In [38]:
print(sr_1.min())
print(sr_1.median())
print(sr_1.max())

0
49.5
99

In [42]:
#백분위수
print(sr_1.quantile()) #중간값 추출
print(sr_1.quantile(q=0.25)) #25%
print(sr_1.quantile(q=0.75)) #75%

49.5
24.75
74.25

In [52]:
sr_2 = pd.Series(["a", "b", "b", "b", "c", "c", "d"])
sr_2.describe()

#unique : 고유한 값 개수
#top: 최빈 값

count     7
unique    4
top       b
freq      3
dtype: object

In [45]:
sr_2.unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [47]:
sr_2.value_counts() #각 몇 번 등장

b    3
c    2
a    1
d    1
Name: count, dtype: int64

In [48]:
sr_2.mode() #최빈값

0    b
dtype: object